# Puerto del servidor
PORT=3000

# Tu correo Gmail (debe tener "Contraseñas de aplicación" activado)
GMAIL_USER=tu_correo@gmail.com

# Contraseña de aplicación de Gmail (NO es tu contraseña normal)
# Genera una en: https://myaccount.google.com/apppasswords
GMAIL_APP_PASSWORD=tu_contraseña_de_aplicacion

# Secreto para firmar JWT
JWT_SECRET=un_secreto_muy_seguro_cambiame
